.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagen {
    width: 200px;
    height: 250px;
    margin-bottom: 0px; /* Ajusta el margen según necesites */
}

h1 {
    margin-top: 20px; /* Ajusta el margen según necesites */
}